{% extends "base.html" %}

{% block variables %}
{% endblock %}

{% block content %}
<div id="aboutwrap">
    <div>
	    This website is for searching software engineering papers.
    </div>
    <br>
    <div>
        <b>Credits:</b>
        <br>
        <ul>
            <li>
                <a href="https://github.com/karpathy/arxiv-sanity-lite" target="_blank"><small><tt>karpathy/arxiv-sanity-lite</tt></small></a> is the original project that this website is based on.
            </li>
            <li>            
                <a href="https://github.com/ZeinabAk/DatasetSEVenues" target="_blank"><small><tt>ZeinabAk/DatasetSEVenues</tt></small></a> is leveraged to enable search over software engineering journals and conferences.
            </li>
    </div>
</div>
{% endblock %}

{% block elements %}
{% endblock %}
